.card{
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0);
}
.card-image{
  
    width: 100%;
    display: block;
}
.restaurant-info{


    background: #fafafa;
    margin-top: 0px;
}
.restaurant-info > p:first-of-type{
    margin-top: 0px;
    
}
.restaurant-info > p:last-of-type{
    margin-bottom: 0px;
}
.apply{
    padding-top: 12px;
    background-color:#fafafa;
}
